.home {
    height: 100%;
    padding-top: 55vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: 
    linear-gradient(
        to right,
        rgba($primary-color, 0.6),
        rgba($primary-color, 0)
    ),
    url('../img/daniel.jpg') center top;
    background-size: cover;
    

    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;

        &--last {
            font-weight: 700;
        }
        
    }
    .specialty {
            border-bottom: 2px solid #F0FFFF;
            padding-bottom: 1rem;
        }
    

    // for 404 PAGE NOT FOUND!
    .go_back {
        font-size: 1rem;
        margin-top: 1rem;
        color: set-text-color($primary-color);

        &__a {
            color: #FF0000;
            font-weight: 500;
        }
    }

}